@charset "UTF-8";

.header_wrapper {
  width: 100%
}

.header_inner {
  width: 100%;
  padding-top: 3%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.header_img {
  width: 20%;
  margin-left: 3%;
}

.header_inner img {
  width: 100%;

}


.header_inner nav ul {
  writing-mode: vertical-lr;
  text-orientation: upright;

  margin-top: 10%;
  margin-right: 10%;
  letter-spacing: 0.5rem;
  margin-bottom: 5%;
}

.header_inner nav ul li {
  font-size: 1.2rem;
  padding-right: 50px;
  padding-bottom: 20%;
  white-space: nowrap;
}

.nav_list a:hover {
  opacity: 0.5;
  border-bottom: solid 5px #7FD9D2;
  padding-bottom: 10%;
}

.header_inner nav ul li a.color {
  color: #7FD9D2;
}

.nav_contact a {
  color: #fff;
  background-color: #7FD9D2;
  border-radius: 10rem;
  padding: 10% 10%;
  margin-top: -10%;
}


.nav_contact a:hover {
  border-bottom: none;
  opacity: 0.5;
}

.top_inner {
  width: 100%;
  position: relative;
}


.top_img img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  object-position: 80% 20%;
}

.ttl_inner {
  position:absolute;
  background-color: rgba(255,255,255,0.5);
  width:100%;
  height:150px;
  top:25%;
  text-align: center;
  
}

.ttl_inner {
  padding-top:3%;
}

.top_inner h1 {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  line-height: 4rem;
}

.ttl_inner small {
  font-size:2rem;
  letter-spacing: 0rem;
}