@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
  font-family: 'Shippori Mincho', serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.section {
  margin: 15% 0;
  position: relative;
}

.ttl {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  line-height:3rem;

}

.ttl:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 45%;
  /*線の上下位置*/
  display: inline-block;
  width: 80%;
  /*線の長さ*/
  height: 5px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #7FD9D2;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.ttl small {
  font-size: 1rem;
  color: #000;
  
}

.inner {
  width:80%;
  margin:0 auto;
  text-align:center;
}

.btn {
  width:20rem;
  margin: 0 auto;
  line-height: 4;
}



.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #7FD9D2;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.btn a:hover {
  opacity: 0.7;
}

/*CONTACT
-----------------*/

.contact {
  width:100%;
  background-color:#FFBF1F;
  padding:5% 0;
}

.contact_inner {
  background-color: #fff;
  margin:0 3%;
  
}

.contact_item {
  display:flex;
}

.contact_item_left {
  text-align:center;
  margin-left:5%;
  padding:5% 0;
  width:50%;
  
}

.contact_item_left h3 {
  margin-top:5%;
}

.contact_item_right {
  text-align:center;
  margin-right:5%;
  padding:5% 0;
  width:50%;
}


.contact_number {
  text-align:center;
  font-size:3rem;
  line-height: 2rem;
  padding-top:5%;
}

.contact_date {
  margin:5% 0;
}

/*FOOTER
------------*/
.footer_inner {
  display:flex;
  justify-content: space-between;
}

.footer_inner_left {
  margin-top:5%;
  margin-left:5%;
}

.footer_img {
  width: 60%;
  
}

.footer_img img {
  width: 100%;
}

.footer_inner_left p {
  margin-top:3%;
}

.footer_inner_right {
  margin-top:5%;
  margin-right: 5%;
}

.footer_inner nav ul {
  writing-mode: vertical-lr;
  text-orientation: upright;
  height: 40%;

  letter-spacing: 0.5rem;
}

.footer_inner nav ul li {
  font-size: 1rem;
  padding-right: 30px;
  padding-bottom: 20%;
}

.nav_list a:hover {
  opacity: 0.5;
  border-bottom: solid 5px #7FD9D2;
  padding-bottom: 10%;
}

.footer_inner nav ul li a.color {
  color: #7FD9D2;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.copyright small {
  font-size: 0.75rem;
  font-weight: bold;
}
