@charset "UTF-8";

/*HEADER
--------------------*/
.header_wrapper {
  width:100%
}

.header_inner {
  width: 100%;
  padding-top:3%;
  height:auto;
  display:flex;
  justify-content: space-between;
}

.header_img {
  width:20%;
  margin-left:3%;
}

.header_inner img {
  width: 100%;

}


.header_inner nav ul {
  writing-mode: vertical-lr;
  text-orientation: upright;
  
  margin-top:10%;
  margin-right:10%;
  letter-spacing: 0.5rem;
  margin-bottom:5%;
}

.header_inner nav ul li {
  font-size: 1.2rem;
  padding-right:50px;
  padding-bottom: 20%;  
  white-space: nowrap;
}

.nav_list a:hover {
  opacity: 0.5;
  border-bottom:solid 5px #7FD9D2;
  padding-bottom:10%;
}

.header_inner nav ul li a.color {
  color:#7FD9D2;
}

.nav_contact a{
  color:#fff;
  background-color:#7FD9D2;
  border-radius: 10rem;
  padding:10% 10%;
  margin-top:-10%;  
}


.nav_contact a:hover {
  border-bottom:none;
  opacity: 0.5;
}

.top_inner {
  width:100%;
  position: relative;
}


.top_img img {
  width:100%;
  height:674px;
  object-fit: cover;
  object-position:80% 20%;
}

.top_inner h1 {
  font-size:80px;
  font-weight: 400;
  letter-spacing: 2rem;
  position:absolute;
  top:5%;
  right:3%;
}

/*NEWS
-------------*/
.news {
  text-align:center;
  display: block;
  display:flex;
  width:80%;
  margin:5% auto;
}

.news_ttl_inner {
  width:30%;
}

.news_list_inner {
  width:70%;
  text-align:left;
  display:inline-block;
}

.news_list {
  width:100%;
  text-align: left;
  display: inline-block;
  margin: 2.5% 0;
}

.news_list li {
  font-size: 1.1rem;
  line-height: 3;
  color: #000;
  border-bottom:solid 1px #ddd;
}

.news_date {
  color:#7FD9D2;
}

.news_btn {
  width:100%;
  
  text-align:right;
  margin-top:5%;  
}



.news_btn a:hover {
  opacity: 0.5;
}

.news_btn_mark {
  position: relative;
}

.news_btn_mark::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: 6.5rem;
  width: 2rem ;
  height: 2rem;
  border-radius: 50%;
  background-color:#7FD9D2;
  color:#fff;
}

.news_btn small {
  color:#fff;
  position:absolute;
  top:-0.2rem;
  right:7rem;
}


.news_ttl_inner  {

  margin:0 auto;
  text-align:center;
}

.news_ttl_inner h3 {
  
  text-align:center;
}

/*SERVICE
----------------*/
.service_inner {
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:5%;
}

.service_img {
  width:50%;
}

.service_img img{
  width:400px;
  height:350px;
  object-fit: cover;
  margin-top:5%;
  margin-left:10%;
}

.service_text {
  width:50%;
  text-align:center;
  display:block;
}

.service_text h4, 
.service_txt {
  text-align:left;
  margin-left: 15%;
}

.service_btn {
  margin:0 auto;
}

.service_text h4 {
  width:70%;
  font-size:1.5rem;
  font-weight:400;
  margin-top:10%;
  margin-bottom:5%;
}

.service_text p {
  width:60%;
  margin-bottom:10%;
}

.service_btn {
  margin-left:15%;
}

/*WORKS
--------------*/

.works_inner {
  display:flex;
  justify-content: center;
  width:70%;
  margin:0 auto;
  text-align:center;
  padding-top:5%;
}

.works_inner_1 {
  width:50%;
  margin:0 auto;
  padding:5% 0;
  
}

.work_ttl {
  display:inline-block;
  
}

.works_inner_1 p {
  width: 80%;
  margin-top:10%;
  margin-bottom:10%;
  display: inline-block;
  text-align: left;
}

.works_inner_2 {
  width:50%;

}

.works_item {
  position: relative;
  margin-bottom:20%;
}

.works_item::before{
  content: "";
  position: absolute;
  top:-5%;
  left:15%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #FFBF1F;
  color: #fff;
}

.works_item_img p {
  position:absolute;
  top: 0%;
  left: 17%;
  color: #000;
}

.works_item_text {
  position:absolute;
  bottom:-20%;
  right:0;
  padding:5% 10%;
  background-color:#fff;
  color:#000;
  border-top:solid 1px #7FD9D2;
}

/*COMPANY
------------*/
.company_wrapper {
  position:relative;
  width:100%;
  margin:0 auto;
  text-align:center;
  
}

.company_wrapper::before{
  content: "";
  position: absolute;
  top: 13%;
  right: 0;
  width:80%;
  height:35rem;
  background-color:#7FD9D2;
  z-index: -1;

}

.company_ttl {
  margin-bottom:5%;
}

.company_inner {
  display: flex;
  width:100%;

}

.company_img {
  width:50%;
  margin-left:-1%;
}

.company_img img {
  width:700px;
  height:550px;
  object-fit: cover;
  object-position:20% 100%;
}

.company_text {
  width:100%;
  display: block;
  text-align:center;
  
}

.company_text p {
  width:70%;
  display:inline-block;
  text-align:left;
  margin-bottom:10%;

}

.company_btn a{
  background-color: #fff;
  color:#000;

}

/*RECRUIT
--------------*/
.recruit_inner {
  width:80%;
  margin:0 auto;
  text-align:center;
}

.recruit_ttl {
  margin-bottom:10%;
}

.recruit_img {
  display:flex;
  width:100%;
  justify-content: space-around;
}

.recruit_img img {
  width: 310px;
  height: 260px;
  object-fit: cover;
  object-position:70% 0 ;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.recruit_inner p {
  margin:5% 0;
}

