@charset "UTF-8";

.top_img_service img {
  object-fit: cover;
  object-position: 80% 10%;
}

.service_top_img {
  object-fit: cover;
  object-position:50% 100%;
}

.service_1 {
  width:100%;
  text-align:center;
}

.service_1_inner {
  width:90%;
  margin:0 auto;
}

.service_1_inner h3 {
  font-size:2rem;
  line-height:2.5rem;
  font-weight: 400;
}

.service_1_item {
  width:80%;
  margin:10% auto;
  display:flex;
  justify-content: space-around;
  
}

.service_1_radius {
  width:10rem;
  height:10rem;
  background-color: #7FD9D2;
  border-radius: 50%;
  box-shadow:0 0 10px 20px #7FD9D2;
  z-index:-1;
}

.service_1_item p {
  color:#000;
  padding-top:30%;
  font-size:2rem;
}

/*SERVICE2
-------------*/

.service_2 {
  width:100%;
}

.service_2_item {
  display:flex;
  margin-bottom:10%;
}

.service_2_item_right {
  display:flex;
  flex-direction: row-reverse;
  margin-bottom: 10%;
}

.service_2_text {
  width:50%;
  margin:5% auto;
  text-align: center;
  display: block;
  
}

.service_ttl {
  font-size:3rem;
  position: relative;
  font-weight: 400;
}

.service_ttl::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 38%;
  clip-path: polygon(82% 57%, 0 96%, 100% 100%);
  width:10rem;
  height:8rem;
  background-color: #FFBF1F;
  z-index: -1;
}



.service_2_text p {
  text-align:left;
  display: inline-block;
  width:35%;
  margin-top:10%;
}

