@charset "UTF-8";

.service_top_img {
  object-fit: cover;
  object-position:50% 100%;
}

.service_1 {
  width:100%;
  text-align:center;
}

.service_1_inner {
  width:90%;
  margin:0 auto;
}

.service_1_inner h3 {
  font-size:2rem;
  line-height:2.5rem;
  font-weight: 400;
}

.service_1_item {
  width:80%;
  margin:5% auto;
  display:flex;
  justify-content: space-around;

}

.service_1_radius {
  width:10rem;
  height:10rem;
  background-color: #7FD9D2;
  clip-path: circle(50% at 50% 50%);
  backdrop-filter: blur(0px);
  filter: blur(50px);
  z-index:-1;
}

.service_1_item p {
  color:#000;
}

/*SERVICE2
-------------*/

.service_2 {
  width:100%;
}

.service_item {
  
}

